//
.product_title {
    padding-top: 15px;
    border-bottom: solid 1px #d6d6d6;

    h2 {

        small {

                .back {
                font-size: 20px;
            }
        }
    }

    .breadcrumb {

        .active {
            text-transform: capitalize;
        }
    }
}
.product_table {
    tr {
        td {
            text-transform: capitalize;
            a {
                margin-right: 20px;
            }
            i {
                cursor: pointer;
            }
        }
    }
    .table_footer {
        border-top: solid 2px #716565;
    }
}
.product_form {
    padding: 25px;

    .row {
        p {
            font-size: 14px;
            padding-left: 10px;
            font-style: italic;
            color: #f39898;
            text-transform: capitalize;
        }
    }
    input {
        border-radius: 5px;
    }

    .create {
        background-color: grey;
        border-color: grey;
    }
    .create:hover {
        background-color: #332d2d;
    }
    select {
        text-transform: capitalize;

        option{
            text-transform: capitalize;
        }
    }
}
@mixin label_style {
    font-weight: 700;
    margin-left: 10px;
    
}
.form_create_order {
    p {
        color: #ff9090;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 1rem;
        font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }

    .row {
        padding: 20px;
        @extend .product_title;
        .form_create_order__input{
            margin-bottom: 10px;

            label {
                @include label_style;
            }
            input {
                width: 100%;
                border: solid 1px #dedede;
                padding: 5px;
                padding-left: 10px;
                border-radius: 5px;
            }
            button {
                width: 100%;
                margin-top: 32px;
                border: none;
            }
            select {
                text-transform: capitalize;
                option {
                    text-transform: capitalize;
                }
            }
        }
    }
    .form_create_order__button_order {
        a {

            button {
                float: right;
                margin-right: 20px;
            }
        }
    }
}
