.product_title, .form_create_order .row {
  padding-top: 15px;
  border-bottom: solid 1px #d6d6d6;
}
.product_title h2 small .back, .form_create_order .row h2 small .back {
  font-size: 20px;
}
.product_title .breadcrumb .active, .form_create_order .row .breadcrumb .active {
  text-transform: capitalize;
}

.product_table tr td {
  text-transform: capitalize;
}
.product_table tr td a {
  margin-right: 20px;
}
.product_table tr td i {
  cursor: pointer;
}
.product_table .table_footer {
  border-top: solid 2px #716565;
}

.product_form {
  padding: 25px;
}
.product_form .row p {
  font-size: 14px;
  padding-left: 10px;
  font-style: italic;
  color: #f39898;
  text-transform: capitalize;
}
.product_form input {
  border-radius: 5px;
}
.product_form .create {
  background-color: grey;
  border-color: grey;
}
.product_form .create:hover {
  background-color: #332d2d;
}
.product_form select {
  text-transform: capitalize;
}
.product_form select option {
  text-transform: capitalize;
}

.form_create_order p {
  color: #ff9090;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.form_create_order .row {
  padding: 20px;
}
.form_create_order .row .form_create_order__input {
  margin-bottom: 10px;
}
.form_create_order .row .form_create_order__input label {
  font-weight: 700;
  margin-left: 10px;
}
.form_create_order .row .form_create_order__input input {
  width: 100%;
  border: solid 1px #dedede;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
}
.form_create_order .row .form_create_order__input button {
  width: 100%;
  margin-top: 32px;
  border: none;
}
.form_create_order .row .form_create_order__input select {
  text-transform: capitalize;
}
.form_create_order .row .form_create_order__input select option {
  text-transform: capitalize;
}
.form_create_order .form_create_order__button_order a button {
  float: right;
  margin-right: 20px;
}